<!DOCTYPE html>
<html>
    <head>
        <title> About Me Quiz</title>
    </head>
    
    <body>
        <h1>How well do you know me? - Elisabeth's Edition</h1>
        
        <form method = "POST" action = "results">
            <h2> What's my favorite dog breed? </h2>
                <input type= "radio" name = "dog breed" value ="0">Pug<br>
                <input type= "radio" name = "dog breed" value ="5">Husky<br>
                <input type= "radio" name = "dog breed" value ="10">Golden Retriever<br>
                
            <h2> How do I feel about gelato? </h2>
                <input type= "radio" name = "gelato" value ="0">It makes me sick<br>
                <input type= "radio" name = "gelato" value ="5">It's pretty good<br>
                <input type= "radio" name = "gelato" value ="10">MY LOVEEEEEE<br>
                 <form method = "POST" action = "results/">
                     
            <h2> Who's my favorite muscician? </h2>
                <input type= "radio" name = "music" value ="0">Kendrick Lamar<br>
                <input type= "radio" name = "music" value ="5">Bruce Springsteen<br>
                <input type= "radio" name = "music" value ="5">Adele<br>
                <input type= "radio" name = "music" value ="10">I don't have one<br>
            
            <br>
            <button type="submit">Check how well you know me!</button>
            
        </form>
    </body>
</html>
