<!DOCTYPE html>
<html>
    <head>
        <title> Ideal Exercise Quiz </title>
    </head>
    
    <body>
        <h1>What Type of Exercise is the Best for You?</h1>
        
        <form method = "POST" action = "results">
            <h2> What is your main goal? </h2>
                <input type= "radio" name = "goal" value ="10">Lose weight<br>
                <input type= "radio" name = "goal" value ="100">Build muscle<br>
                <input type= "radio" name = "goal" value ="1000">Get lean and powerful<br>
                
            <h2> How much time are you willing to commit per work out session? </h2>
                <input type= "radio" name = "time" value ="10">30 minutes to an hour<br>
                <input type= "radio" name = "time" value ="100">45 minutes to an hour and a half<br>
                <input type= "radio" name = "time" value ="1000">15 to 30 minutes<br>
                 <form method = "POST" action = "results/">
                     
            <h2> Which best describes you? </h2>
                <input type= "radio" name = "YOU" value ="10">Endurance is my middle name<br>
                <input type= "radio" name = "YOU" value ="100">Bulking is totally me<br>
                <input type= "radio" name = "YOU" value ="1000">I'm a firework- short time, big punch<br>
            
            <h2> What was your favorite PE activity? </h2>
                <input type= "radio" name = "PE" value ="10">Running the track every day<br>
                <input type= "radio" name = "PE" value ="100">Hitting the weight room<br>
                <input type= "radio" name = "PE" value ="1000">Calisthenics <br>
                
            <h2> If you were an elite athlete, what would you do?? </h2>
                <input type= "radio" name = "PE" value ="10">Run the Boston Marathon<br>
                <input type= "radio" name = "PE" value ="100">Olympic Lifting<br>
                <input type= "radio" name = "PE" value ="1000"> Decathlon <br>
            
            <br>
            <button type="submit">Find your Fitness!</button>
            
        </form>
    </body>
</html>
